* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #009578;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0.625rem;
}

ul {
  list-style: none;
}

.container {
  max-width: 800px;
  width: 800px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.column-title {
  margin-bottom: 1.25rem;
  color: #fff;
  font-size: 1.875rem;
  user-select: none;
}

.task {
  padding: 0.625rem 0.875rem;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
}

.task .btns {
  position: absolute;
  opacity: 0;
  transition: 0.3s;
  top: 50%;
  right: 0.625rem;
  transform: translateY(-50%);
}

.task:hover .btns {
  opacity: 1;
}

.input-area {
  border: none;
  width: 100%;
  font-size: 16px;
}

.input-area:focus {
  outline: none;
}

.dropzone {
  height: 0.625rem;
  transition: background-color 0.15s, height 0.15s;
}

.dropzone.active {
  height: 1.875rem;
  background-color: rgba(0, 0, 0, 0.25);
}

.add-button {
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 100%;
  padding: 0.625rem 0;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  transition: background-color 0.3s;
}

.add-button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.small-btn {
  background-color: #eee;
  cursor: pointer;
  border: none;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.edit:hover {
  background-color: #009578;
  color: #fff;
}

.remove:hover {
  background-color: #f44336;
  color: #fff;
}

@media (max-width: 37.5em) {
  .container {
    grid-template-columns: 1fr;
  }
}
